<h1>Angular fundamentals</h1>

<h2>Built-in attribute directives</h2>
<hr>

<p>NgClass	Adds and removes a set of CSS classes.</p>


<!-- toggle the "special" class on/off with a property -->
<div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>

<button (click)="isSpecial = !isSpecial;"> Toggle Special</button>




<p>NgStyle	Adds and removes a set of HTML styles.</p>

<div [ngStyle]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div>

<button (click)="changeStyle()">Toggle Style</button>


<br><br><br>
<hr>

<p>
  NgModel	Adds two-way data binding to an HTML form element.
</p>


<!-- you use ngModel for forms input.
     If you want a template reference variable, you need to give ngModel value -->
<input [(ngModel)]="name" #ctrl2="ngModel" required>
<br>
Value: {{ name }}
<br>
Valid: {{ ctrl2.valid}}


<br><br><br>
<hr>

<h3>Adding or removing an element with NgIf</h3>
<p>*ngIf can be used for native Html elements and Angular components both.</p>

<div *ngIf="isActive"> It is Active</div>

<!-- By passing this.name to the child component (app-mycomp) Input property name,
     Angular binds them. It' ensured to change the state from parent to children. -->
<app-mycomp *ngIf="isActive" [name]='name'></app-mycomp>

<br>
<button (click)="toggleActive()">Toggle Active</button>



<br><br><br>
<hr>

<h3>Getting the index of *ngFor</h3>
<div *ngFor="let person of people; let i=index">{{i + 1}} - {{person.name}}</div>


<p>ngFor can also used for invoke multiple angular components; and pass some value as @Input property
  for the components.
</p>

<app-mycomp *ngFor="let person of people" 
  [name]="person.name" 
  [age]="person.age" 
  [isWorking]="person.isWorking">
</app-mycomp>


<app-hero-parent></app-hero-parent>

<app-name-parent></app-name-parent>

<app-voter-taker></app-voter-taker>

<app-countdown-local-var-parent></app-countdown-local-var-parent>

<app-countdown-view-child-parent></app-countdown-view-child-parent>

<app-mission-control></app-mission-control>

<br>
<br>
<br>
